.awm-meta-field {

 input,
 select,
 textarea {
  &:disabled {
   background: #f8f8f8;
  }
 }

 display: inline-block;
 vertical-align: top;
 position: relative;
 box-sizing: border-box;

 &.awm-section-field {
  border-bottom: solid 1px !important;

  .awm-meta-field {
   border: none;
  }
 }

 select[multiple="1"] {
  max-height: 150px;
  height: auto;
 }

 .awm-after-message {
  font-size: 95%;
  width: auto !important;
  max-width: 90%;
  display: inline-block !important;
  float: none !important;
  vertical-align: top;

  @media screen and (max-width: 1100px) {
   max-width: 85%;
  }

  @media screen and (max-width: 800px) {
   max-width: 80%;
  }

  label {
   font-weight: normal !important;
   padding: 0px !important;
  }
 }

 .sbp-tippy-admin-message {
  position: absolute;
  top: 6px;
  right: 0px;
  z-index: 100;
  display: block !important;
  float: right;
  width: auto !important;

  .sbp_icon {
   cursor: pointer;
   float: right;
   font-size: 21px;

   &:hover {
    opacity: 0.7;
   }
  }
 }

 label {
  text-align: left;
  font-weight: 500;
 }

 input[type="checkbox"] {
  height: 18px !important;
  width: 18px !important;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
  float: none;
 }

 &.awm-custom-image-meta {
  img {
   max-width: 150px;
  }
 }

 .awm_map {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  * {
   -moz-transition: none;
   -webkit-transition: none;
   -o-transition: color 0 ease-in;
   transition: none;
  }
 }

 *:not(.ss-main),
 *:not(.awm-after-message),
 *:not(.awm-map),
 *:not(.ss-arrow),
 *:not(.arrow-up),
 *:not(.arrow-down) *:not(.ss-single-selected) {
  display: table-row;
  width: 100%;
  float: left;

  &.wp-editor-tools,
  &.wp-core-ui,
  &.wp-media-buttons,
  &.wp-switch-editor,
  &.wp-core-ui .button {
   width: auto;
  }

  &.wp-editor-tabs {
   display: block;
   width: auto;
   float: right;
  }

  &.awm_tablinks {
   display: table-cell;
   width: auto;
  }
  &.awm_tabcontent{
   display:none;
   float:none;
  }

  &.gmnoprint,
  &.gmnoprint * {
   width: auto;
   float: inherit;
   display: block;
  }
  &.awm_map *,
  &.mce-tinymce.mce-container.mce-panel *,
  &.mce-container *,
  &.mce-container-body &.mce-tinymce * &.sbp-tippy-admin-message {
   width: auto;
   float: inherit;
   display: inherit;
  }
 }
 /*custom select rules*/
 .ss-main {
  >div {
   display: flex;
  }
  .ss-arrow,
  .ss-values,
  .ss-add {
   width: auto;
   display: flex;
  }

  .ss-values {
   width: calc(100% - 30px);
  }

  .ss-value {
   display: flex;
   width: unset;

   >span {
    display: inline;
    width: auto;
   }
  }
 }

 label {
  text-align: left;
  font-weight: 500;
  padding: 2% 0% !important;
  margin-bottom: 10px;
 }

 &.sbp-show {
  display: table !important;
  width: 100%;
  margin-bottom: 2%;

  >div {
   display: table-cell !important;
   padding: 1%;
   vertical-align: middle;
  }

  div {
   &.ss1 {
    width: 34%;
    font-weight: bold;
   }

   &.ss2 {
    width: 58%;
   }
  }
 }

 &[data-type="radio"] {
  label.awm-radio-options {
   width: auto;
   display: table;

   input,
   span {
    display: table-cell;
    width: auto;
    float: left;
   }
  }
 }
}

.awm-multiple-checkbox {
 width: auto !important;
 display: inline-table !important;
 float: left !important;
 margin-right: 10px;
 margin-bottom: 10px;

 .insider {

  label,
  input {
   display: table-cell;
   width: auto !important;
   vertical-align: middle;
   margin: 0;
   padding: 0 5px !important;
   float: inherit;
  }
 }
}

.awm-cls-33 {
 width: 32%;
 margin-right: 1%;
 display: inline-table;
 margin-bottom: 15px;
 border: none !important;
}

@media screen and (max-width: 599px) {
 .awm-cls-33 {
  width: 45% !important;
  margin-right: 2% !important;
 }

 .awm-cls-50 {
  width: 90% !important;
  margin: 0 auto !important;
 }
}

@media screen and (max-width: 429px) {

 .awm-cls-33,
 .awm-cls-50 {
  width: 90% !important;
  margin: 0 auto !important;
 }
}

.awm-cls-50 {
 width: 45%;
 margin-right: 2%;
 display: inline-table;
 margin-bottom: 15px;
 border: none !important;

 label {
  display: block;
  margin-bottom: 10px;
 }
}

.awm-cls-100 {
 width: 100%;
}

.awm-term-input {
 .awm-input-label {
  display: none;
 }
}

#postbox-container-1 {
 .awm-cls-33 {
  width: 100%;
  margin: 5px;
 }
}


#dashboard-widgets {
 .awm-cls-33 {
  width: 32%;
 }
}

body.wp-admin {
 .awm-meta-field {
  label {
   font-weight: bold;
  }

  .awm-meta-message-label {
   font-weight: bold;
   text-align: left;
   padding: 2% 0% !important;
   margin-bottom: 10px;
  }
 }
}




