.sbp-meta-field {
 display: inline-block;
 vertical-align: top;
 position: relative;

 &.awm-section-field {
  border-bottom: solid 1px !important;

  .sbp-meta-field {
   border: none;
  }
 }

 .awm-after-message {
  padding: 0px 4px;
  font-size: 95%;
 }

 .sbp-tippy-admin-message {
  position: absolute;
  top: 6px;
  right: 0px;
  z-index: 100;
  display: block !important;
  float: right;
  width: auto !important;

  .sbp_icon {
   cursor: pointer;
   float: right;
   font-size: 21px;

   &:hover {
    opacity: 0.7;
   }
  }
 }

 label {
  text-align: left;
  font-weight: 500;
 }

 input[type="checkbox"] {
  height: 18px !important;
  width: 18px !important;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
  float: none;
 }

 &.awm-custom-image-meta {
  img {
   max-width: 150px;
  }
 }

 .awm_map {
  
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  * {
   -moz-transition: none;
   -webkit-transition: none;
   -o-transition: color 0 ease-in;
   transition: none;

  }
 }

 *:not(.awm-after-message),
 *:not(.sbp-map) {
  display: table-row;
  width: 100%;
  float: left;

  &.wp-editor-tools,
  &.wp-core-ui,
  &.wp-media-buttons,
  &.wp-switch-editor,
  &.wp-core-ui .button {
   width: auto;
  }

  &.wp-editor-tabs {
   display: block;
   width: auto;
   float: right;
  }

  &.gmnoprint,
  &.gmnoprint * {
   width: auto;
   float: inherit;
   display: block;
  }

  &.awm_map *,
  &.mce-tinymce.mce-container.mce-panel *,
  &.mce-container *,
  &.mce-container-body &.mce-tinymce * &.sbp-tippy-admin-message {
   width: auto;
   float: inherit;
   display: inherit;
  }
 }

 label {
  text-align: left;
  font-weight: 500;
  padding: 2% 0% !important;
  margin-bottom: 10px;
 }

 &.sbp-show {
  display: table !important;
  width: 100%;
  margin-bottom: 2%;

  >div {
   display: table-cell !important;
   padding: 1%;
   vertical-align: middle;
  }

  div {
   &.ss1 {
    width: 34%;
    font-weight: bold;
   }

   &.ss2 {
    width: 58%;
   }
  }
 }

 &[data-type="radio"] {
  label.awm-radio-options {
   width: auto;
   display: table;

   input,
   span {
    display: table-cell;
    width: auto;
    float: left;
   }
  }
 }
}



.awm-multiple-checkbox {
 width: auto !important;
 display: inline-table !important;
 float: left !important;
 margin-right: 10px;
 margin-bottom: 10px;

 .insider {

  label,
  input {
   display: table-cell;
   width: auto !important;
   vertical-align: middle;
   margin: 0;
   padding: 0 5px !important;
   float: inherit;
  }
 }
}



.awm-cls-33 {
 width: 32%;
 margin-right: 1%;
 display: inline-table;
 margin-bottom: 15px;
 border: none !important;
}


@media screen and (max-width: 499px) {

 .awm-cls-33,
 .rm_info3 {
  width: 45%;
  margin-right: 2%;
 }

 .awm-cls-50 {
  width: 90%;
  margin: 0 auto;
 }
}

.awm-cls-50 {
 width: 45%;
 margin-right: 2%;
 display: inline-table;
 margin-bottom: 15px;
 border: none !important;

 label {
  display: block;
  margin-bottom: 10px;
 }
}

.awm-cls-100 {
 width: 100%;
}