.awm-meta-field.checkbox_multiple {
 .awm-multiple-checkbox {
  width: auto !important;
  display: inline-table !important;
  float: left !important;
  margin-right: 10px;
  margin-bottom: 10px;

  .insider {

   label,
   input {
    display: table-cell;
    width: auto !important;
    vertical-align: middle;
    margin: 0;
    padding: 0 5px !important;
    float: inherit;
   }

   .awm-options-wrapper {
    position: relative;
   }
  }
 }
}