.awm-repeater {


 .awm-repeater-content {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  }

  &.cloned {
   opacity: 0;
  }

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity:1;
  width:95%;
  margin:0 5px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.05);
  margin-top: 15px;
  z-index:1;



  .awm-meta-field {
   border-bottom: none !important;
   padding-bottom: 5px;
   margin-bottom: 5px;

  }


  &:only-of-type {
   .awm-repeater-remove {
    opacity: 0.5;
    pointer-events: none;
   }
  }

  .awm-actions {
   width: 100%;
   display: table;

   >div {
    display: table-cell !important;
    vertical-align: middle;
    width: 50% !important;
   }

   .awm_action {
    cursor: pointer;
    width: auto;

    &:hover {
     opacity: 0.5;
    }
   }

   .awm-repeater-add {
    text-align: right;

    span {
     float: right;
    }
   }

   .awm-repeater-remove {
    text-align: left;
   }

   .sbp_action {
    width: auto;
   }
  }

 }

 .awm-repeater-title {
  font-weight: bold;
 }

 .over {
  transform: scale(1.1, 1.1);
 }

 .awm-repeater-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 5px;
  width:100%;
  margin-bottom:5px;

  .awm-meta-field {
   width: 100% !important;
  }
 }

 &[data-count="2"] {
  .awm-repeater-inputs {
   grid-template-columns: 1fr 1fr;
  }
 }

 &[data-count="1"] {
  .awm-repeater-inputs {
   grid-template-columns: 1fr;
  }
 }

 @media screen and (max-width: 599px) {
  .awm-repeater-inputs {
   grid-template-columns: 1fr 1fr;
  }
 }

 @media screen and (max-width: 429px) {
  .awm-repeater-inputs {
   grid-template-columns: 1fr;
  }
 }
}

.awm-repeater-content[draggable] {
 will-change: transform;
 cursor: move;
 transition: all 200ms;
 user-select: none;
 margin: 10px auto;
 position: relative;
}


.awm-repeater-content[draggable]:hover:after {
 opacity: 1;
 transform: translate(0);
}