.awm-meta-field {

 /*custom select rules*/
 .ss-main {
  >div {
   display: flex;
  }

  .ss-arrow,
  .ss-values,
  .ss-add {
   width: auto;
   display: flex;
  }

  .ss-values {
   width: calc(100% - 30px);
  }

  .ss-value {
   display: flex;
   width: unset;

   >span {
    display: inline;
    width: auto;
   }
  }
 }
}